.complaint-form {
  background-image: url('https://thumbs.dreamstime.com/b/angry-boss-complain-young-businessman-angry-senior-manager-pointing-finger-to-underling-men-to-complain-mistake-plan-delay-113164260.jpg'); /* Add your background image URL */
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea,
select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.btn {
  padding: 3px 8px; /* Reduce the padding for a smaller size */
  cursor: pointer;
}

/* Adjust the font size of buttons */
.btn-success,
.btn-danger {
  font-size: 12px; /* Adjust the font size to make it smaller */
}

.btn-success {
  background-color: #5cb85c;
  color: #fff;
  border: none;
}

.btn-danger {
  background-color: #d9534f;
  color: #fff;
  border: none;
}

.btn-success:hover,
.btn-danger:hover {
  filter: brightness(1.2);
}
