/* src/components/Gallery.css */
.gallery-sir{
    background-image: url('https://wallpaperaccess.com/full/2314983.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Ensures the background image covers the entire container */
    height: 643px; /* Adjust the height based on your design */
    position: relative;
}
.gallery-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .image-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  